tabs {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: -4px;
  min-height: 40px;
  border-bottom: #F0F0F0 4px solid;
  width: 800px;
  margin-bottom: 24px;
}

tabs > ul {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

tabs > ul > li {
  display: inline;
  padding-top: 15px;
  flex: 1;
  text-align: center;
}

tabs > ul > li {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 6px;
}

tabs > ul > li.active {
  color: white;
  background-color: #00AACC;
}
